:root {
	--color-primary: #0d6efdcc;
	--color-secondary: #6c757dcc;
	--color-success: #198754cc;
	--color-danger: #dc3545cc;
	--color-warning: #ffc107cc;
	--color-info: #0dcaf0cc;
	--color-light: #f8f9facc;
	--color-dark: #212529cc;
	--color-purple: #6f42c1cc;
	--color-indigo: #6610f2cc;
	--color-blue: #0d6efdcc;

	--color-bright-purple: #bf40bfcc;
	--color-lavender: #E6E6FAcc;

	--font-family-sans: 'Noto Sans JP', sans-serif;
}

html {
    overflow-y: scroll;
}

body {
	font-size: 16px !important;
	font-family: var(--font-family-sans);
	margin-top: 0;
	padding-top: 5em;
}

.showtime-content {
/*    width: 100%;       /* 基本は横幅いっぱいに広がる */
    max-width: 1200px; /* ただし1200px以上にはならない */
    margin: 0 auto;    /* 中央寄せ */
    padding: 0 1em;   /* 画面が小さくなっても、左右に必ず1emの余白が残る */
}

.showtime-page {
	padding: 0.2em 0.5em;
	background: var(--color-light);
}
/* --------- Override for page-content --------- */
.showtime-page h1 { /* タイトル */
    font-size: 1.5rem;
    font-weight: 900;
	padding: 0.2em 0.5em;
	border-bottom: 3px dashed var(--color-secondary);
}
.showtime-page h2 { /* 章 */
	font-size: 1.3rem; 
    font-weight: 700;
}
.showtime-page h3 { /* 節 */
	font-size: 1.2rem; 
    font-weight: 700;
}
.showtime-page h4 { /* 項 */
	font-size: 1.1rem;
    font-weight: 600;
}
.showtime-page h5 { /* 小見出し */
	font-size: 1rem;
    font-weight: 600;
}
.showtime-page h6 { /* 補足見出し */
	font-size: 0.95rem;
    font-weight: 600;
}

/* ------------- Header styles -------- */
.showtime-header-logo{
	background-color: var(--color-lavender);
	margin: 0 auto;    /* 中央寄せ */
}
.showtime-header-logo img {
	width: 2.8em;
	height: 2.8em;
	max-width: 2.8em;
	margin: 0 0.2em 0 0;
}
.showtime-header-logo h4 {
	font-weight: 700;
	margin:0;
}
.showtime-header-logo small {
    font-size: 0.6em;
	margin: 0;
	flex-shrink: 0;
	width: 20em; /* 幅を固定することでハンバーガーの改行を防ぐワークアラウンド */
	/* white-space: nowrap; */
}

/* ---------- breadcrumb styles ---------- */
.showtime-breadcrumb {
	border-radius: 100vh;
	margin: 0.1em auto;
	padding: 0.4em 2em;
}
.showtime-breadcrumb li {
	font-size: 0.85em;
}
.showtime-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "";
}

/* --------------- Footer styles --------------- */
.showtime-footer {
	/* background-color: #EEEEFFEE; */
	border-top: 1px solid var(--color-lavender);
	text-align: center;
	margin: 2em 0 1em 0;
	width: 100%;
}
